.cart-page .cart-container {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
}
.price-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.increase-decrease {
  background-color: var(--active-btn-border);
  color: #fff;
}
.checkout-section {
  display: flex;
  justify-content: flex-end;
}
.checkout-summary .title {
  font-size: 19px;
  padding-bottom: 10px;
}
.bottom-border {
  border-bottom: 1px dashed var(--default-border-color);
}
.checkout-summary .subTotal {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
.checkout-summary .subTotal span {
  font-size: 16px;
  font-weight: 400;
}
.checkout-summary .subTotal span.total {
  font-weight: 700;
  font-size: 18px;
}
.checkout-summary .checkout-btn {
  width: 100%;
  margin-top: 25px;
}
.cart-page .cart-container .icon {
  opacity: 1;
  border: 1px dotted var(--active-btn-border);
  padding: 9px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cart-page .cart-quantity {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

@media (min-width: 768px) {
  .cart-page .cart-body {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;

    justify-content: space-between;
  }
  .for-smaller-device {
    display: none;
  }
}

@media (max-width: 767px) {
  .cart-page .cart-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: space-between;
  }
  .for-larger-device > * {
    display: none;
  }
  .for-smaller-device {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  .for-smaller-device .cart-quantity {
    align-items: center;
  }
}
