.checkout-page {
  margin: 15px 128px 0 128px;
}
.checkout-container {
  border: 1px solid var(--default-border-color);
}
.checkout-container .title {
  font-size: 25px;
  border-bottom: 1px solid var(--default-border-color);
  padding: 10px;
  margin: 0px;
  background: var(--default-border-color);
  color: #fff;
  font-weight: 400;
}
.checkout-container .form-body-checkout {
  padding: 10px;
}
