.gallery-row {
  position: relative;
  margin-top: 35px;
  background: #ebebeb;
  border-radius: 25px !important;
}
.gallery-title {
  position: absolute;
  top: -40px;
  left: 43%;
  background-color: var(--active-btn-border);
  padding: 8px 25px;
  border-radius: 25px;
  color: #fff;
}
.gallery-image {
  display: block;
  border-radius: 25px;

  padding: 15px;
}
