.login-page {
  display: flex;
  justify-content: center;
}
.login-card {
  width: 40%;
}
.login-card h1 {
  text-align: center;
}
.login-submit {
  background-color: var(--active-btn-border);
  color: #fff;
}
.login-submit:hover {
  color: var(--active-btn-border) !important;
  border: 1px solid var(--active-btn-border) !important;
}

.login-card .login-form .ant-row {
  width: 85%;
}

.login-page h4 {
  text-align: center;
}
