.ant-layout.dashboard-layout.root-layout.css-dev-only-do-not-override-1htoz2s {
  background: #fff;
}
.dashboard-layout .ant-menu-item-selected {
  color: var(--active-btn-border) !important;
  border-bottom: 2px solid var(--active-btn-border);
}
.dashboard-layout .ant-menu-item-selected::after {
  border: none;
}
.dashboard-layout
  .ant-menu-light.ant-menu-horizontal
  > .ant-menu-item:hover::after {
  border: none;
}
.dashboard-layout
  ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-1htoz2s
  > * {
  background: #fff;
}
