

.nav-header {
  background: #fff;
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--default-border-color);
}
.nav-menu .ant-menu-item-selected a{
    color: var(--active-btn-border)!important;
}
.nav-menu .ant-menu-item-selected::after{
    border-bottom-color: var(--active-btn-border)!important;
}
.nav-menu .ant-menu-item:hover::after{
    color: var(--active-btn-border)!important;
    border-bottom: 2px solid var(--active-btn-border)!important; /* or any color */
  }
/* .nav-header :where(.css-dev-only-do-not-override-1htoz2s).ant-menu-light,
:where(.css-dev-only-do-not-override-1htoz2s).ant-menu-light > .ant-menu {
  background-color: transparent;
}
:where(.css-1htoz2s).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-1htoz2s).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-selected::after,
:where(.css-1htoz2s).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected::after,
:where(.css-1htoz2s).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border: none;
 border-bottom-color: #1677ff; 
} 
*/